<script>
</script>

<div class="index">
    <h2>Welcome</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores itaque
        iste rerum veritatis ad optio accusantium iusto. Sunt et maxime animi,
        veritatis tempore tenetur illo pariatur libero accusamus quasi rerum.
    </p>
    <a href="/guides">View Guides</a>
    <a href="/about">About</a>
</div>

<style>
    .index {
        text-align: center;
        display: block;
        margin: 20px auto;
    }
</style>
