<script>
    import { page } from "$app/stores";
    import "../styles/global.css";
</script>

<div class="error">
    <h2>Oops</h2>
    <p>{$page.error.message}</p>
    <a href="/guides">View All Guides</a>
</div>

<style>
    .error {
        text-align: center;
        margin-bottom: 60px;
    }
</style>
