<script>
</script>

<div class="about">
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde,
        similique? Tempora quis sapiente eos consequuntur, fugiat distinctio
        culpa dolore libero alias adipisci delectus praesentium nobis aut
        aliquid, illum facere laboriosam!
    </p>
    <a href="/guides">View Guides</a>
    <a href="/">Home</a>
</div>

<style>
    .about {
        text-align: center;
        display: block;
        margin: 20px auto;
    }
</style>
